<div class="contents"> 
  	<div class="container">
    	<div style="margin-top:40px;" id="dg"> 
      		<div class="row centered">
				<h1 class="msgh"> Messages </h1>

				<%= nested_messages @messages.arrange(:order => :created_at) %>

				<%= render "form" %>
			</div>
		</div>
	</div>
</div>
