<div class="contents"> 
  	<div class="container">
    	<div style="margin-top:40px;" id="dg"> 
      		<div class="row centered">
				<h1> Reply </h1>

				<%= render @message.parent if @message.parent %>

				<%= render "form" %>

				<p><%= link_to "Back to Messages", messages_path %></p>
			</div>
		</div>
	</div>
</div>
