<div class="contents"> 
  	<div class="container">
    	<div style="margin-top:40px;" id="dg"> 
      		<div class="row centered">
				<h1>Message</h1>

				<%= nested_messages @message.subtree.arrange(:order => :created_at) %>

				<p><%= link_to "Back to All Messages", messages_path %></p>
			</div>
		</div>
	</div>
</div>
