<div id="blue">
        <div class="container">
                <div class="row centered">
                        <div class="col-lg-8 col-lg-offset-2">
                                <h4>WE CAN DO A LOT OF THINGS</b></h4>
                                <p>JUST TAKE A LOOK AND SEE</p>
                        </div>
                </div><!-- row -->
        </div>
</div>
<div class="container w">
        <div class="row centered">
                <div class="col-lg-3"></div>
                <div class="col-lg-6">
                        <i class="fa fa-dribbble"></i>
                        <h3>MY SPORTS</h3>
                        <a data-toggle="modal" data-target="#myModal2" href="#myModal2">ADD SPORT</a>
                        <%#= render 'new_sport' %>
                        <%#= render 'sports' %>
                </div>
        </div><br/>
        <div class="row centered">
                <div class="col-lg-1"></div>
                <div class="col-lg-10">
                        <i class="fa fa-calendar"></i>
                        <h3>AVAILABILITY</h3>
                        <p><%#= link_to 'ADD AVAILABILITY', new_meeting_path %></p>
                        <a data-toggle="modal" data-target="#myModal3" href="#myModal3">ADD AVAILABILITY</a>
                        <%#= render 'new_meeting' %>
                        <%#= render 'meetings' %>
                        
                </div>
                <div class="col-lg-1"></div>
        </div><br/>
        <div class="row centered">
                
                <div class="col-lg-12">
                        <i class="fa fa-retweet"></i>
                        <h3>MATCHES</h3>
                        <%#= render 'matches' %>
                </div><!-- col-lg-4 --><br>
                
        </div>
</div>
        <!-- PRICING SECTION -->
<div id="dg" style="padding:0px 0px 0px 0px;">
        <div class="container">
                <div class="row centered">
                        <h4 style="padding-top:10px;">NEW MEETUP REQUEST</h4>
                        <br>
                        
                        <div  class="col-lg-4">
                    <!-- START PRICING TABLE -->
                    <div class="pricing-option">
                        <div class="pricing-top">
                            <span class="pricing-edition">TENNIS</span>
                            <span class="price">
                               <!--  <sup>$</sup>
                                <span class="price-amount">19</span>
                                <small>/mo</small> -->
                            </span>
                        </div>
                        <ul>
                            <li><strong>SPORT</strong> Tennis</li>
                            <li><strong>WHEN</strong> Fri June 10th</li>
                            <li><strong>WHERE</strong> Spring Hill Club</li>
                            <li><strong>START AT</strong> 11:00 AM</li>
                            <li><a href="#"><strong>VIEW LOCATION</strong></a></li>
                        </ul>
                        <a href="index.html#" class="pricing-signup">Accept</a>
                    </div><!-- /pricing-option -->
                    <!-- END PRICING TABLE -->
                        </div><!-- /col -->
                        
                        <div class="col-lg-4">
                <!-- START PRICING TABLE -->
                <div class="pricing-option">
                    <div class="pricing-top">
                        <span class="pricing-edition">WORKOUT</span>
                        <span class="price">
                            <!-- <sup>$</sup>
                            <span class="price-amount">29</span>
                            <small>/mo</small> -->
                        </span>
                    </div>
                    <ul>
                        <li><strong>SPORT</strong> Workout</li>
                            <li><strong>WHEN</strong> Fri June 10th</li>
                            <li><strong>WHERE</strong> Spring Hill Club</li>
                            <li><strong>START AT</strong> 11:00 AM</li>
                           <li><a href="#"><strong>VIEW LOCATION</strong></a></li>
                    </ul>
                    <a href="index.html#" class="pricing-signup">Accept</a>
                </div><!-- /pricing-option -->
                <!-- END PRICING TABLE -->
                        </div><!-- /col -->
                        <div class="col-lg-4">
                <!-- START PRICING TABLE -->
                <div class="pricing-option">
                    <div class="pricing-top">
                        <!-- <span class="special-label">YESTERDAY</span> -->
                        <span class="pricing-edition">GOLF</span>
                        <span class="price">
                           <!--  <sup>$</sup>
                            <span class="price-amount">69</span>
                            <small>/mo</small> -->
                        </span>
                    </div>
                    <ul>
                        <li><strong>SPORT</strong> Golf</li>
                            <li><strong>WHEN</strong> Fri June 10th</li>
                            <li><strong>WHERE</strong> Spring Hill Club</li>
                            <li><strong>START AT</strong> 11:00 AM</li>
                            <li><a href="#"><strong>VIEW LOCATION</strong></a></li>
                    </ul>
                    <a href="index.html#" class="pricing-signup">Accept</a>
                </div><!-- /pricing-option -->
                <!-- END PRICING TABLE -->
                        </div><!-- /col -->
                        
                </div><!-- row -->
        </div><!-- container -->
</div><!-- DG -->
<div id="r">
        <div class="container">
                <div class="row centered">
                        <div class="col-lg-8 col-lg-offset-2">
                                <h4>WE ARE HERE TO PLAY. WE LOVE OUR GAME.</h4>
                                <p>Headquartered in San Jose, CA,we are a successful wireless networks based company offering broadband solutions to companies worldwide. We have been experiencing steady growth and are looking to add a UI Developer to our team. Someone who possesses an exceptional work ethic and a solid passion for what they do. </p>
                        </div>
                </div><!-- row -->
        </div><!-- container -->
</div><! -- r wrap -->