<div class="modal fade" id="myModal2" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
          	<div class="modal-header">
	            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
	            <h4 class="modal-title" id="myModalLabel">Add A Sport</h4>
          	</div>
          	<div class="modal-body">
				<div class="row centered">
					<h1>Create Sport</h1>
					<p>Below select a sport you would like to find matches for.</p>
						<%= render 'user_sports/form' %>
						<%#= link_to 'Back', user_sports_path %>
				</div>
			</div>
		</div>
	</div>
</div>