<div class="contents"> 
  <div class="container">
    <div style="margin-top:40px;" id="dg"> 
      <%= link_to 'ADD NEW', new_user_sport_path %>     
      <div class="container w">
        <div class="row centered">
          <div class="col-lg-12">
            <h3>ALL USERS</h3>
              <%= render 'allsports' %>
          </div>
        </div>
      </div>
      <div class="container w">
        <div class="row centered">
          <div class="col-lg-12">
            <h3>CURRENT USER</h3>
              <%= render 'mysports' %>
          </div>
        </div>
      </div>
      <div class="container w">
        <div class="row centered">
          <div class="col-lg-12">
            <h3>NOT CURRENT USER</h3>
              <%= render 'thsports' %>
          </div>
        </div>
      </div>



    </div>
  </div>
</div>