<div style="padding-top:60px;" class="contents"> 
    <div class="row centered">
    	<div class="container">
			<h1>Create Sport</h1>
			<p>Below select a sport you would like to find matches for.</p>
			<%= render 'form' %>
		</div>
	</div>
	<div class="col-lg-6 col-lg-offset-3">
		<p><%= link_to 'Back', user_sports_path %></p>
	</div>
</div>